.sidebar {
  padding-left: 20px;
}

.profile-picture {
  padding: 5px;
  border-radius: 50px;
}
.cryptoprice::-webkit-scrollbar {
  display: none;
}

.cryptoprice {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
